/* modo errato del sistemare il container fluid. approfondire lo studio sul sito di bootstrap */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box!important;
}
body {
  font-family: "Montserrat",sans-serif ;
}
.container-massimo {
  width: 100%;
}
/* debug height
[class*="col-"] {
  height: 100px;
}*/
body {
  color: white;
}
/* header, .jumbotron, section, footer {
  padding: 0 15% !important;
} */
nav {
  background-color: #2c3e50;
  line-height: 80px;
  height: 80px;
}
#slogan {
  font-size: 2em;
}
.d-none-lg {
  display: none;
}
header .dropdown .btn {
  background-color: #148f77;
}
header .btn>ul {
  right: 0% ;
  left: inherit;
}
@media screen and (max-width:767px) {
  .d-none-md {
    display: none;
  }
  .d-none-lg, #dropdownMenu1:hover .dropdown-menu {
    display: block;
  }
}
.jumbotron {
  background-color: #1abc9c;
  text-align: center;
  padding-top: 80px;
}
.img-size {
  height: 240px;
}
.barra-spaziatrice {
  margin: 10px 0px;
}
.v-align {
  vertical-align: middle;
}
.divider-custom-line {
  background-color: white;
  display: inline-block;
  padding: 0.1em 5em;
}
section{
  text-align: center;
  color: #2c3e50 ;
}
section .divider-custom-line {
  background-color: #2c3e50 ;
}
section:nth-child(even) {
  background: #1abc9c;
  color: white ;
}
section:nth-child(even) .divider-custom-line {
  background-color: white ;
}
footer {
  background-color: #3a546d;
  text-align: center;
}
.last-footer {
  background-color: #2c3e50;
  text-align: center;
}
h2, header, .col-xs-12>span {
  text-transform: uppercase;
}
a, a:hover{
  text-decoration: none;
  color: white;
  padding: 1em;
}
a:first-of-type, h2 {
  font-weight: bolder;
}
.card {
  margin: 3% 0%;
  border-radius: 10%;
}
.m-top {
  margin-top: 10px;
}
