@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
  font-family: "Montserrat",sans-serif ;
}
.container-massimo {
  width: 100%;
}
body {
  color: white;
}
nav {
  background-color: #2c3e50;
  line-height: 80px;
}
.d-none-lg {
  display: none;
}
h1, h4 {
  font-weight: bolder;
}
header .dropdown .btn  {
  background-color: #148f77;
}
header .btn>ul {
  right: 0% ;
  left: inherit;
}
@media screen and (max-width:767px) {
  .d-none-md {
    display: none;
  }
  .d-none-lg, #dropdownMenu1:hover .dropdown-menu {
    display: block;
  }
}
.jumbotron {
  background-color: #1abc9c;
  text-align: center;
}
.img-size {
  height: 240px;
}
.barra-spaziatrice {
  margin: 10px 0px;
}
.v-align {
  vertical-align: middle;
}
.divider-custom-line {
  background-color: white;
  display: inline-block;
  padding: 0.1em 5em;
}
section{
  text-align: center;
  color: #2c3e50 ;
}
section .divider-custom-line {
  background-color: #2c3e50 ;
}
section:nth-child(even) {
  background: #1abc9c;
  color: white ;
}
section:nth-child(even) .divider-custom-line {
  background-color: white ;
}
footer {
  background-color: #3a546d;
}
.last-footer {
  background-color: #2c3e50;
  text-align: center;
}
h2, header {
  text-transform: uppercase;
}
header a {
  padding: 1em 0em;
}
header a:hover {
  color: #1abc9c;
}
a, a:hover{
  text-decoration: none;
  color: white;
}
a:first-of-type, h2 {
  font-weight: bolder;
}
.card {
  margin: 3% 0%;
}
.img-overlay {
  display: none;
}
.hover-plus:hover .img-overlay {
  background-color: rgba(26,188, 156, 0.5);
  height: 100%;
  font-size: 16em;
  width: 94%;
  display: block !important;
  position: absolute;
  z-index: 100;
  border-radius: 10%;
}
.prova {
  border-radius: 10%;
  width:100%;
}
.m-top {
  margin-top: 10px;
}
.m-down {
  margin-bottom: 10px;
}
.padding-top-bottom, section, header {
  padding: 4rem;
}
section .container .btn  {
  background-color: rgba(0,0,0,0);
  border: 1px solid white;
  color: white;
}
section .container .btn:hover {
  background-color: white;
  color: black;
}
.font-size-grow {
  font-size: 1.4em;
}
.remove-border {
  border: inherit;
}
section .container .b-g-c-g {
  background-color: #1abc9c;
}
section .container .b-g-c-g:hover {
  background-color: #159a80;
  color: white;
}
footer .around {
  display: inline-block;
  border: 2px solid white;
  border-radius: 50%;
  padding: 5px 10px;
  margin: 5px;
}
footer .footer-last-call {
  color: #1abc9c;
}
footer .footer-last-call:hover {
  color: #159a80;
  text-decoration: underline;
}
