/* modo errato del sistemare il container fluid. approfondire lo studio sul sito di bootstrap */

.container-fluid {
  margin: 0px;
  padding: 0px;
}
/* debug height */
[class*="col-"] {
  height: 100px;
}
body {
  color: white;
}
header, .jumbotron, section, footer {
  padding: 0 15% !important;
}
header {
  background-color: #2c3e50;
}
.jumbotron {
  background-color: #1abc9c;
  text-align: center;
  margin: 0 !important;
}
section{
  background-color: red;
  text-align: center;
  color: black;
}
section:nth-child(even) {
  background: #1abc9c;
  color: white;
}
footer {
  background-color: #3a546d;
  text-align: center;
}
.last-footer {
  background-color: #2c3e50;
  text-align: center;

}
